.container {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2rem;
  background-color: #f4f4f9;
  font-family: 'Arial', sans-serif;
  gap: 2rem; 
}


.main {
  background: #ffffff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px; 
  margin: 0 auto; 
}

.aside {
  background-color: #ffffff;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 450px; 
  flex: 1; 
}

@media (min-width: 900px) {
  .container {
    flex-direction: row;
    align-items: flex-start;
  }

  .main {
    flex: 1; 
    max-width: 60%; 
  }

  .aside {
    flex: 0.4; 
    margin-left: 2rem; 
  }
}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
    gap: 2rem; 
  }

  .main, .aside {
    width: 100%; 
  }
}
